* {
  box-sizing: border-box;
  font-size: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-image: url(./images/MerciesAttilaDuo_DSCF6718_20240412_OE.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
}

.headerMid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMid h2 {
  color: white;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.headerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLeft h2 {
  color: white;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.mainContent {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 90%;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 41, 41, 0.8);
  border-radius: 2rem;
}

.centerLeft,
.centerRight {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutImg {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 80%;
  width: 80%;
  border-radius: 6rem;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.aboutContainer {
  background-color: rgba(255, 255, 255, 0.6);
  height: 80%;
  width: 80%;
  border-radius: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.aboutTitle {
  font-family: "EB Garamond", serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 0;
}

.aboutParagraph {
  text-align: justify;
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 1.35rem;
  color: rgb(255, 255, 255);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav .menuItems {
  padding: 10px 8px 2px 8px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: inline-block;
  position: relative;
  justify-self: center;
  align-self: center;
  transition: 0.3s;
  font-family: "Gruppo", sans-serif;
}

.sidenav .menuItems::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.sidenav .menuItems:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 55px;
  color: white;
}

.sidenav .closebtn:hover {
  color: #e6dede;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menuButton {
  color: white;
  margin: 5px 5px 0 0;
  font-size: 2rem;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.menuButton:hover {
  color: #000000;
}

@media screen and (max-width: 600px), screen and (min-height: 800px) {
  .center {
    display: flex;
    flex-direction: column;
  }

  .centerLeft {
    width: 100%;
    height: 45%;
  }

  .centerRight {
    width: 100%;
    height: 75%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .headerMid h2,
  .headerLeft h2 {
    font-size: 7rem;
  }

  .menuButton {
    font-size: 6rem;
  }

  .aboutContainer {
    padding: 2rem;
  }

  .aboutTitle {
    font-size: 5rem;
  }

  .aboutParagraph {
    font-size: 3rem;
  }
}

@media (min-height: 960px), screen and (orientation: landscape) {
  * {
    box-sizing: border-box;
    font-size: 1vw;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: url(./images/MerciesAttilaDuo_DSCF6718_20240412_OE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;
  }

  .headerMid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerMid h2 {
    color: white;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    font-size: 3rem;
  }

  .headerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerLeft h2 {
    color: white;
    font-family: "Encode Sans Semi Expanded", sans-serif;
    font-size: 2rem;
  }

  a {
    text-decoration: none;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 90%;
    justify-content: center;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 41, 41, 0.8);
    border-radius: 2rem;
  }

  .centerLeft,
  .centerRight {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .aboutImg {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 80%;
    width: 80%;
    border-radius: 6rem;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .aboutContainer {
    background-color: rgba(255, 255, 255, 0.6);
    height: 80%;
    width: 80%;
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .aboutTitle {
    font-family: "EB Garamond", serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
  }

  .aboutParagraph {
    text-align: justify;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-size: 1.35rem;
    color: rgb(255, 255, 255);
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidenav .menuItems {
    padding: 10px 8px 2px 8px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: inline-block;
    position: relative;
    justify-self: center;
    align-self: center;
    transition: 0.3s;
    font-family: "Gruppo", sans-serif;
  }

  .sidenav .menuItems::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .sidenav .menuItems:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 55px;
    color: white;
  }

  .sidenav .closebtn:hover {
    color: #e6dede;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .menuButton {
    color: white;
    margin: 5px 5px 0 0;
    font-size: 2rem;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
  }

  .menuButton:hover {
    color: #000000;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  * {
    display: none;
    background-color: black;
  }
}
