* {
  box-sizing: border-box;
  font-size: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-image: url(./images/MerciesAttilaDuo_DSCF6718_20240412_OE.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
  width: 60%;
  height: auto;
  background-color: rgba(41, 41, 41, 0.8);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.textBox h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

.textBox .link {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  padding: 0.5rem;
  border-radius: 10px;
}

.textBox .link:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

@media only screen and (max-width: 490px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .textBox {
    width: 80%;
    height: auto;
  }

  .textBox h1 {
    font-size: 6rem;
  }

  .textBox .link {
    font-size: 5rem;
  }
}
